<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ICPay_Nice_Enterprise.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
				<key>dateExpires</key>
				<string>2025/02/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FilesProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.25.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KiccModuleWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NiceModuleWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyXMLParser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>frmBxlCommLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04E9A7C43BEF650D8E17A64906F2917FC56F7292</string>
						<key>dateExpires</key>
						<string>2025/02/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>frmBxlCommonSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R56R3AWKEM</string>
						<key>name</key>
						<string>Bixolon Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R56R3AWKEM.com.bixolon.icpayNice.enterprise</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R56R3AWKEM</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>R56R3AWKEM.com.bixolon.icpayNice.enterprise</string>
				</array>
			</dict>
			<key>name</key>
			<string>ICPay_Nice_Enterprise.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>37dd1076-5f17-4989-a40e-17a6074a6f95</string>
				<key>dateExpires</key>
				<string>2023/02/22</string>
				<key>name</key>
				<string>ICpay Nice Enterprise</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R56R3AWKEM</string>
				<key>name</key>
				<string>Bixolon Co.,Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.02</string>
		</dict>
	</array>
</dict>
</plist>
